
/* HTML ELEMENTS */

body {
    background-color: rgb(73, 88, 99);
}

h1 {
    margin: 3rem auto;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

/* SQUARES */


.container {
    text-align: center;
    width: 50%;
    position: relative;
}

.row {
    text-align: center;
}

.square {
    height: 15rem;
    width: 15rem;
    border-radius: 1.5rem;
    border: 7px solid;
    margin: 2rem;
    display: inline-block;
}

.square-highlight {
    opacity: 1;
    animation: fade 0.55s linear;
}

.sq-green {
    background-color: green;
}

.sq-red {
    background-color: red;
}

.sq-yellow {
    background-color: yellow;
}

.sq-blue {
    background-color: blue;
}


/* MEDIA QUERY */
@keyframes fade {
    0% { opacity: 0.2 }
    50% { opacity: 1 }
  }